<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div>
  <img class="col-md-1 border-right: 1px solid #ccc;" height="15px" src="../assets/images/PimcoLogo.png"/> 
  <!--</div>-->
  <B class="col-md-11">Enterprise Data management</B>
 </div>
<!--<div>
<nav>
    <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
</nav>
</div>-->
<div class="row">
<div class="dropdown col-md-1">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Security
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" routerLink="dashboard" routerLinkActive="active">Dashboard</a><li>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>

    

</div>
<div class="dropdown col-md-1">
<button class="btn btn-secondary dropdown-toggle" type="button" id="issuerdropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Issuer
  </button>
  <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" routerLink="dashboard" routerLinkActive="active"> 2</a><li>
    <li><a class="dropdown-item" routerLink="dashboard" routerLinkActive="active"> 23424234234234</a><li>
      <li><a class="dropdown-item" routerLink="dashboard" routerLinkActive="active"> 2</a><li>
  </div>
  </div>
<div class="Col-md-10"></div>
</div>
<!--<app-menu></app-menu>-->



  

  <!--<nav>
    <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  </nav>-->
  <router-outlet ></router-outlet>
<!--
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>
-->
</div>