<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div>
  <img class="col-md-1 border-right: 1px solid #ccc;" height="15px" src="../assets/images/PimcoLogo.png"/> 
  <!--</div>-->
  <B class="col-md-11">Enterprise Data management</B>
 </div>
<div>
<nav>
    <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    <!--<a routerLink="/heroes" routerLinkActive="active">Heroes</a>-->
</nav>
</div>
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Dashboard
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" routerLinkActive="active">
    <!-- dropdown menu links -->
    <!--<ul class="nav navbar-nav" routerLinkActive="active">-->
      <li><a class="dropdown-item" routerLink="dashboard" routerLinkActive="active">test</a></li>
       <!--<li><a class="dropdown-item" tabindex="-1" href="#" >Dashboard</a></li>-->
            <!--<li class="nav-item"><a class="nav-link" routerLink="dashboard">Dashboard1</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>-->
        <!--</ul>-->
  </ul>




  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
</div>




  

  <!--<nav>
    <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  </nav>-->
  <router-outlet></router-outlet>
<!--
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>
-->
</div>